body {
  margin: 0;
  font-family: "Chewie", serif;
}
.navbar {
  overflow: hidden;
  background-color: turquise;
  }
  
.navbar a {
  float: left:
  color: #00FDF5;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
 }


 h1 {
   color:#00FDF5;
   border-bottom: 5px solid blue;
}
