body {  
  margin: 0;
  font-family: "Chewie", serif;
  background-color: #FFD500;
}
.navbar {
  overflow: hidden;
  background-color: #00FDF5;
  }
  
.navbar a {
  float: center;
  color: black;
  text-align: center;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 25px;
 }
.column {
 width: 100%;
 float: left;
 padding: 10px;
 height:400px;
}

  h1 {
   color:##2600ff;
   border-bottom: 5px solid green;
}
