body (
  margin: 0;
  font-family: chewie;
)
.navbar {
  overflow: hidden;
  background-color: #84ffc3;
  }
  
.navbar a {
  float: center:
  color: #00FDF5;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
    
 }


 h1 {
   color:#00FDF5;
}
